<div class="page-header">
  <h2>Contributors</h2>
</div>

<table class="table table-striped">
	<thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Github URL</th>
      <th>Company</th>
			<th>Location</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody id="todos-table">
  <% @contributors.each do |contributor| %>
    <%= render :partial => 'contributor_row', :locals => { :contributor => contributor } %>
  <% end %>
  </tbody>
</table>


