<div class="row">
<div id="content" class="main-content-inner col-sm-12 col-md-8 pull-left">
  <% @pages.each do |page| %>
    <article id="<%= page.slug %>" class="blog-article">
      <div class="article-inner-content">
        <header class="article-header page-header">
          <h1 class="article-title">
            <%= link_to page.slug, page.slug, :class => "article-link" %>
          </h1>
          <div class="article-meta">
            <span class="posted-on">
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="#" rel="bookmark">
                <time class="entry-date published" datetime="2014-12-01T10:18:43+00:00">December 1, 2014</time>
                </a>
            </span>
            <span class="byline">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="author vcard">
                <a class="url fn n" href="#">Christopher Gimmer</a>
              </span>
            </span>			
            <span class="comments-link">
              <span class="glyphicon glyphicon-comment"></span> 
              <a href="#" >0 Comments</a>
            </span>
          </div><!-- article-meta -->
          <div class="article-content">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p class="clearfix">
            <a class="btn btn-sm btn-primary read-more sharp" href="#">Read More</a>
            </p>
            </div>
        </header>
      </div><!--article-inner-content -->
    </article>
  <% end %>
</div><!-- main-content-inner --> 
<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">

  <div class="well">
    <div class="input-group search">
      <input class="form-control" type="text" placeholder="Search...">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <h4>Recent Posts </h4>
  </div>
</div><!-- secondary -->
</div><!-- row -->
